.swiper{
.swiper-button-prev { left: 5px !important; }
.swiper-button-next { right: 5px !important; }

  /* --- PAGINAÇÃO (PONTINHOS) --- */
  .swiper-pagination-bullet {
    background: #0f1130 !important; // Ciano neon para combinar
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    background: rgba(0, 224, 254, 0.9) !important;
    border: 1px solid #0051ff;
    opacity: 1;
    box-shadow: 0 0 10px #00f2ff,
                0 0  20px #00d4ff;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
