* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; // Melhora a renderização da fonte no Chrome/Safari
  -moz-osx-font-smoothing: grayscale;   // Melhora a renderização no Firefox
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

