@use "@/styles/variables";


.home-page{
  padding-top: 140px;
  font-family: variables.$font-secondary;
  width: 100%;
  height: auto;
  background-image: url("@/assets/img/ui/CyberConnect.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 0;
  padding-bottom: 20px;

 img{
   width: 100%;
   height: auto;
   object-fit: cover;
 }

  #div-mobile{
    display: none;
  }

  .padding-section{
    padding: 0;
  }
  h1{
    color: #131313;
    margin-top: 20px;
  }

    span{
      font-size: 48px;
      margin-bottom: 30px;
      margin-left: 20px;
      color: #fff;
      font-weight: 700;
      text-shadow: 0.5px 2px 5px rgba(0, 0, 0, 0.75);
    }

  }

.container-hero-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}


  .div-hero-content *{
    font-family: variables.$font-main;
  }
  .div-hero-content{
    .container-image {
      padding: 10px 0;
      & img {
        border-radius: 20px;
      }
    }
  }

  .subtitle-hero{
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 4px 4px 0 #000;
    background: linear-gradient(to top, #060B66 100%, #085D91 80%);
    display: inline-block;
    padding: 8px 30px;
    text-decoration: none !important;
  }

  #flex-row-propagandas-image{
    display: flex;
    gap: 12px;
  }

  .div-propaganda{
    padding: 0;
    margin: 0;
    gap: 0;
    display: block;
    position: relative;
    width: 212px;
    height: auto;

    & img{
      background: none;
      width: 100%;
      height: auto;


    }
  }

  #propaganda-master{
    z-index: 999999999999999;
  }
  .hero-image{
    width: 385px;
    height: 369px;
    & img{
      width: 100%;
      height: auto;
    }
  }

  .container-image{
    margin-top: 20px;
  }

  #computer{
      & .container-image {
        margin-left:40px;
        width: 480px;
        height: auto;
      }
  }

  #confira-ofertas {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background: darkred;
    border: 1px solid red;
    color: #fff;
    box-shadow: 0 0 20px #fff;
    cursor: pointer;
    transition: ease 0.1s;

    & img {
      height: 40px;
      width: 40px;
    }

    &:hover {
      background: #4c0202;
    }
  }

.precategoria{
  display: flex;
  .subtitle-products{
    position: relative;
    top: -30px;
    display: inline-block;
    margin: 0 auto;
    background-color: #ac065e;
    padding: 10px 20px;
    color: #fff;
    font-family: variables.$font-main;
    border-radius: 10px;
  }
}

/* --------------------- SESSÃO Produtos ------------------- */
.products{
  position: relative;
  max-width: 1550px;
  overflow: hidden;
  width: 100%;
  max-height: 696px;
  height: 100vh;
  background-image: url("@/assets/img/ui/product-background-futurist.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



}

.info-products{
    background: #000;
    .div-title-products{
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 60px;
      width: 100%;
      padding: 0 40px;
      margin: 0 auto;
      justify-content: space-between;
      background: linear-gradient(to top, #060B66 100%, #085D91 80%);
    }

    h2{
      position: relative;
      font-family: variables.$font-secondary;
      color: #dddddd;
    }

    h2::after{
      padding: 0;
      content: "";
      position: absolute;
      right: -140px;
      bottom: 0;
      height: 50px;
      width: 4px;
      background: #05A7DD;
    }

  .div-icon-Information {
    gap: 50px;
    display: flex;
    flex-direction: row;

    & .div-items {
      display: flex;
      flex-direction: column;

      position: relative;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      font-family: variables.$font-secondary;

      & h3{
        color: #fff;
      }

    }

  }

}

/*  --------------- SESSÃO DAS CATEGORIAS  --------------------------- */
.categorias{
  display: flex;
  font-family: variables.$font-secondary;
    position: relative;

    .div-items-categorias{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: -80px; //para ficar levemente acima do efeito espelho embaixo (proposital)
      width: 100%;
      margin-left: 10px; //respiro lateral
      justify-content: center;
      align-items: center;
      gap: 40px; //espaçamento lateral de cada div-item
    }

   /* Dimensões do fundo das imagem dos produtos de cada categoria */
  .div-item{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 236.96px;  //Larguras e alturas padronizados para manter proporcionalidade.
      height: 198.18px;
      background: linear-gradient(to bottom, #748DC2 0%,  #fff 100%);
      border-radius: 30px;
      cursor: pointer;
      transition: ease 0.1s;


      /* Efeito espelhado embaixo */
      &::after{
        content: "";
        position: absolute;
        bottom: -120px;
        left: 0;
        height: 60%;
        width: 236px;
        background: linear-gradient(rgba(48, 52, 130, 0.5), rgba(166, 33,133, 0.5));
        border-radius: 10px;
      }


      h3{
        display: inline-block;
        text-align: center;
        color: #131313;
        text-shadow: 1px 1px 5px #ffffff;
      }

      .orange{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background-color: orange;
        width: 80px;
        margin: 0 auto;
      }

      .div-image-products{
        position: relative;
        width: 100%;
        height: 120px; /* Altura fixa para manter o alinhamento */
        display: flex;
        justify-content: center;

        & img{
          /* Remove o top: -50px, use margin-top para empurrar para fora */
          position: relative;
          width: 90%; /* Ajuste o tamanho para ser relativo */
          height: auto;
          object-fit: contain;
          /* Isso garante que a imagem "flutue" para cima a partir da linha de base do container */
        }
    }

  }

  .div-item:hover{
    transform: scale(1.2);
    z-index: 9999;
    box-shadow: 1px 1px 10px #0051ff,
                1px 1px 20px #05A7DD;

    &::after{
      bottom: -90px;
      height: 45%;
      width: 230px;
      margin: 0 auto;
      background: linear-gradient(rgba(22, 31, 189, 0.5), rgba(188, 9, 144, 0.5));
    }
  }

  .div-image{
    width: 1550px;
    height: 246px;

    & img{
      width: 100%;
      height: auto;
    }
  }
}

/* ----------------------- Configuração da SECTION WHATSAPP --------------------------- */
.section-whatsapp{
  width: 100%;
  height: auto;
  background-image: url("@/assets/img/banners/background-new.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px 0 30px;

  /* Config da Imagem do MOCKUP CELULAR -------------------*/
  & .div-image{
    position: relative;
    width: 250px;
    height: auto;

    & img{
      width: 100%;
      height: 100%;
    }
  }

  & .div-image-woman{
    position: relative;
    width: 400px;
    height: auto;

    & img{
      width: 100%;
      height: 100%;
    }
  }

  /* CONFIGURAÇÃO DA COLUNA DO MEIO DO CONTEÚDO */
  .infos-about-whatsapp-group{
    font-family: variables.$font-secondary;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;

    .div-image{
      max-width: 500px;
      width: 300px;
      height: auto;
      margin: 0 auto;

      & img{
        width: 100%;
        height: auto;
      }
    }
    & .text-principal{
      background: rgba(48,52,130,0.74);
      border-radius: 20px;
      padding: 20px 60px;

      & h2{
        color: #131313;
      }

      & h3{
        color: #fff;
      }
    }

    & p{
      color: #131313;
      font-weight: bold;
    }

  }
  /* ------ Configurações do botão do WhatsApp -----------*/
  .button-div {
    top: 0;
    position: relative;
    margin: 0 auto;
    /* Imagem icone whatsapp */
    .div-whatsapp-btn {
      position: absolute;
      display: inline-block;
      left: 17px;
      bottom: 10px;
      width: 30px;
      height: auto;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    .btn-whatsapp {
      /* Sem z-index gigante, apenas o necessário */
      cursor: pointer;
      border: none;
      border-radius: 15px;
      width: 210px;
      height: 70px;
      background: linear-gradient(180deg, #08521E 0%, #20c858 50%, #10B040 100%);
      box-shadow: inset 4px -8px 4px rgba(0, 0, 0, 0.25),
      1px 1px 10px #000;
      color: #fff;
      font-family: variables.$font-main;

      /* ---------------  Tratamento dos filhos (textos) ------*/
      & span:nth-of-type(1) {
        font-weight: 600;
        font-size: 16px;
        color: #F4FBF6;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
      }

      & span {
        display: inline-block;
      }

      & span:nth-of-type(2) {
        font-weight: 900;
        font-size: 18px;
        color: #F4FBF6;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
        transition: ease 0.3s;
      }
    }

    /* -------- HOVER --------------*/
    & .btn-whatsapp:hover {
      box-shadow: inset 4px 8px 14px rgb(6, 205, 65),
                        1px 1px 10px rgb(13, 255, 83);
      border: 1px solid lightgreen;

      & span {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container-section {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  /* ---------------- CONFIGURAÇÕES DA HOMEPAGE ------------------- */
  .home-page {
    padding-top: 170px;
    height: auto;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 50px;

    #div-mobile{
      position: relative;
      top: -25px;
      display: block;
    }
    .neon-desativado-mobile{
      display: none;
    }

    .div-hero-content {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 40px;

      h1, span {
        font-size: 30px;
      }

      .subtitle-hero {
        font-size: 25px;
        margin: 20px auto;
        width: 100%;
        display: block;
        background: #0f1130;
        border-radius: 10px;
        color: #fff;
        text-shadow: 1px 1px 5px #000;
      }

      img {
        width: 200px;
        height: auto;
        border-radius: 20px;
        }
    }
    .container-hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      width: 100%;
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    #computer {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .bot-gift { display: none; }

    .hero-image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }

    #computer .container-image {
      width: 90% !important;
      max-width: 350px;
      margin: 0 auto !important;
    }

    #flex-row-propagandas-image {
      position: relative;
      width: 100%;
      height: auto;
      transition: 1s;
      & img { width: 100%; height: auto; }
    }

    #confira-ofertas {
      position: relative;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 20px;
    }
  }


  /* ---------- CONFIGURANDO A SESSÃO DE PRODUTOS ------------------ */
  .products {
    height: auto;
    padding: 20px;
    .info-products {
      #neon-desativado-mobile{
        display: none !important;
      }
      .div-title-products {
        display: none;
      }
    }
    .precategoria {
      display: flex;
      width: 100%;


      .subtitle-products {
        font-size: 15px !important;
        display: block !important;
        margin-top: 20px;
      }
    }

    .categorias {
      /* Esconde a grade desktop, mas mantém o container-pai limpo */
      .div-items-categorias {
        display: none !important;
      }
    }

    #baseFundo {
      display: none !important;
    }
  }

  /* --- CONFIGURAÇÃO DO SWIPER (MOBILE) - CORRIGIDA --- */

  .categoria-swiper {
    width: 100% !important;
    height: auto;
    display: block !important;
    position: relative;
    z-index: 9999;

    .div-item {
      min-width: 236.96px !important;
      height: 500px !important;


      .div-image-products {
        height: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible !important;

        & img {
          display: block;
          z-index: 9999999999999999999999;
          margin-top: -70px !important;
          width: 90% !important;
          height: auto !important;
          object-fit: contain !important;
          filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
        }
      }
    }

  }
  .div-item:hover{
    transform: none !important;
  }

  .section-whatsapp{
    padding: 20px 0;
    width: 100%;
    min-height: 18 0vh;
    display: flex;
    flex-direction: column;
    gap: 1px !important;
    align-items: center;

    & img{
      width: 100%;
      height: auto;
    }
    & #mulher{
      display: none;
    }

    .div-image{
      width: 80%;
      height: auto;
    }

    .infos-about-whatsapp-group{
      margin-bottom: 20px;
      & .text-principal{
        margin: 0;
        font-size: 20px;
        border-radius: 0;
        padding: 5px 10px;
      }
    }
  }
}

