@use "@/styles/variables";


.home-page{
  padding-top: 140px;
  font-family: variables.$font-secondary;
  max-width: 1550px;
  height: 120vh;
  background-image: url("@/assets/img/ui/CyberConnect.webp");
  background-attachment: fixed;
  border: 0;


.padding-section{
  padding: 0;
}
  h1{
    color: #131313;
  }


  .flex-row{
    width: 100%;
    justify-content: space-between;

    span{
      font-size: 48px;
      margin-bottom: 30px;
      margin-left: 20px;
      color: #fff;
      font-weight: 700;
      text-shadow: 0.5px 2px 5px rgba(0, 0, 0, 0.75);
    }

  }

  .subtitle-hero{
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 4px 4px 0 #000;
    background: linear-gradient(to top, #060B66 100%, #085D91 80%);
    display: inline-block;
    padding: 8px 30px;
  }

  #flex-row-propagandas-image{
    display: flex;
    gap: 18px;
  }

  .div-propaganda{
    padding: 0;
    margin: 0;
    gap: 0;
    display: block;
    position: relative;
    width: 212px;
    height: auto;

    & img{
      background: none;
      width: 100%;
      height: auto;

    }
  }

  #propaganda-master{
    z-index: 999999999999999;
  }
  .hero-image{
    width: 385px;
    height: 369px;
    & img{
      width: 100%;
      height: auto;
    }
  }

  .container-image{
    margin-top: 20px;
  }

  #computer{
      & .container-image {
        margin-left:40px;
        width: 480px;
        height: auto;
      }
  }

  #confira-ofertas {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background: darkred;
    border: 1px solid red;
    color: #fff;
    box-shadow: 0 0 20px #fff;
    cursor: pointer;
    transition: ease 0.1s;

    & img {
      height: 40px;
      width: 40px;
    }

    &:hover {
      background: #4c0202;
    }
  }
}

.precategoria{
  display: flex;
  .subtitle-products{
    display: inline-block;
    margin: 0 auto;
    background-color: #ac065e;
    padding: 10px 20px;
    color: #fff;
    font-family: variables.$font-main;
    border-radius: 20px;
  }
}

/* --------------------- SESSÃO Produtos ------------------- */
.products{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("@/assets/img/ui/product-background-futurist.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.info-products{
    background: #000;
    .div-title-products{
      min-height: 60px;
      width: 100%;
      padding: 0 40px;
      margin: 0 auto;
      justify-content: space-between;
      background: linear-gradient(to top, #060B66 100%, #085D91 80%);
      border-radius: 8px;
    }

    h2{
      position: relative;
      font-family: variables.$font-secondary;
      color: #dddddd;
    }

    h2::after{
      padding: 0;
      content: "";
      position: absolute;
      right: -140px;
      bottom: 0;
      height: 50px;
      width: 4px;
      background: #05A7DD;
    }

  .div-icon-Information {
    gap: 50px;

    & .div-items {
      position: relative;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;

      & h3{
        margin-top:8px;
        color: #fff;
      }
      & svg{
        font-size: 45px;
        padding: 10px;
        color: #00d4ff;
        box-shadow: 1px 1px 10px #0051ff,
                    1px 1px 20px #0051ff;

        border-radius: 50%;
        margin: 2px 0;
      }
    }

  }

}

/*  --------------- SESSÃO DAS CATEGORIAS  --------------------------- */
.categorias{
  font-family: variables.$font-secondary;
    position: relative;
    .div-items-categorias{
      position: absolute;
      top: -80px;
      width: 100%;
      margin-left: 10px;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    .div-item{
      position: relative;
      width: 236.96px;
      height: 198.18px;
      background: linear-gradient(to bottom, #748DC2 0%,  #fff 100%);
      border-radius: 30px;
      justify-content: space-between;

      &::after{
        content: "";
        position: absolute;
        bottom: -120px;
        left: 0;
        height: 120px;
        width: 236px;
        background: linear-gradient(rgba(48, 52, 130, 0.5), rgba(166, 33,133, 0.5));
        border-radius: 10px;
      }


      h3{
        display: inline-block;
        text-align: center;
      }

      .orange{
        height: 10px;
        background-color: orange;
        width: 80px;
        margin: 0 auto;
      }

      .div-image-products{
        position: relative;
        width: 250px;
        height: 80px;

        & img{
          position: absolute;
          top: -50px;
          width: 100%;
          height: auto;
        }
    }

  }

  .div-image{
    width: 1550px;
    height: 246px;

    & img{
      width: 100%;
      height: auto;
    }
  }
}

/* ----------------------- Configuração da SECTION WHATSAPP --------------------------- */
.section-whatsapp{
  width: 100%;
  height: 80vh;
  background-image: url("@/assets/img/banners/background-new.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;

  /* Config da Imagem da mulher  & MOCKUP CELULAR -------------------*/
  & .div-image{
    position: relative;
    width: auto;
    height: auto;

    & img{
      width: 100%;
      height: 100%;
    }
  }

  /* CONFIGURAÇÃO DA COLUNA DO MEIO DO CONTEÚDO */
  .infos-about-whatsapp-group{
    font-family: variables.$font-secondary;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;

    & .text-principal{
      background: rgba(48,52,130,0.74);
      border-radius: 20px;
      padding: 20px 60px;

      & h2{
        color: #131313;
      }

      & h3{
        color: #fff;
      }
    }

    & p{
      color: #131313;
      font-weight: bold;
    }

  }
  /* ------ Configurações do botão do WhatsApp -----------*/
  .button-div {
    position: relative;
    display: flex;
    margin: 0 auto;

    .div-whatsapp-btn {
      position: absolute;
      display: inline-block;
      left: 17px;
      bottom: 10px;
      width: 30px;
      height: auto;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    .btn-whatsapp {
      /* Sem z-index gigante, apenas o necessário */
      cursor: pointer;
      border: none;
      border-radius: 15px;
      width: 210px;
      height: 70px;
      background: linear-gradient(180deg, #08521E 0%, #20c858 50%, #10B040 100%);
      box-shadow: inset 4px -8px 4px rgba(0, 0, 0, 0.25),
      1px 1px 10px #000;
      color: #fff;
      font-family: variables.$font-main;

      /* ---------------  Tratamento dos filhos (textos) ------*/
      & span:nth-of-type(1) {
        font-weight: 600;
        font-size: 16px;
        color: #F4FBF6;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
      }

      & span {
        display: inline-block;
      }

      & span:nth-of-type(2) {
        font-weight: 900;
        font-size: 18px;
        color: #F4FBF6;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
        transition: ease 0.3s;
      }
    }

    & .btn-whatsapp:hover {
      box-shadow: inset 4px 8px 14px rgb(6, 205, 65),
                        1px 1px 10px rgb(13, 255, 83);
      border: 1px solid lightgreen;

      & span {
        color: #fff;
      }
    }
  }
}